<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.AboutUsActivity"/>
        <activity android:name=".activities.BloodTipsActivity"/>
        <activity android:name=".activities.ContactUsActivity"/>
        <activity android:name=".activities.CreaterequestActivity"/>
        <activity android:name=".activities.DonorDetailsActivity"/>
        <activity android:name=".activities.DonorsActivity"/>
        <activity android:name=".activities.FaqsActivity"/>
        <activity android:name=".activities.LoginActivity"/>
        <activity android:name=".activities.MainActivity"/>
        <activity android:name=".activities.MyRequestsActivity"/>
        <activity android:name=".activities.NotificationsActivity"/>
        <activity android:name=".activities.RegistrationActivity"/>
        <activity android:name=".activities.ResponseActivity"/>
        <activity android:name=".activities.ShowAllRequestsActivity"/>
        <activity android:name=".activities.SuperClasses"/>
        <activity android:name=".activities.UserProfile"/>
    </application>

</manifest>